@media (max-width: 1100px) {
    .wrapper{
        max-width: 900px;
    }

    #megaphone{
        position: absolute;
        opacity: 0.2;
        z-index: -1;
    }
    header .block.flex.text{
        justify-content: center;
    }

    main .flex .box{
        width: calc(100% - 100px);
        margin: auto;
    }

    main .flex.align.margin-top100 .text.flex.space-between, h3, p, button{
        text-align: center;
        align-items: center;
    }
    #case{
        flex-direction: column;
    }
    #case .cont{
        border: 0;
        border-bottom: 1px solid white;
        width: 80%;
        padding: 2cqh 0;
    }
    #hide{
        display: none;
    }
    main .flex .box.team{
        width: calc(50% - 100px);
    }

}

@media (max-width: 900px){
    .wrapper{
        max-width: 700px;
    }h1{
        font-size: 43px;
    }h2{
        font-size: 36px;
    }h3{
        font-size: 26px;
    }h4{
        font-size: 18px;
    }p{
        font-size: 16px;
    }a{
        font-size: 18px;
    }button{
        font-size: 18px;
    }
    
    header .block{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    header .block .text button{
        float: right;
    }
    footer .flex.footer .flex.align.space-between{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }footer .flex.footer .flex.align.space-between div, #footer-id{
        width: 100%;
    }

}@media (max-width: 600px){
    .wrapper{
        max-width: 400px;
    }
    #wigth{
        width: 300px;
    }
    #highline{
        flex-direction: column;
    }
    main .flex .box.team{
        width: calc(100% - 50px);
    }
    #minus{
        width: 50px;
        height: 50px;
    }#activ{
       height: fit-content;
    }#name, #email, #message{
        width: 90%;
    }
}