header .block{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

header .block .hotbar{
    width: 70%;
    gap: 40px;
    justify-content: end;
    align-items: center;
}

header .block .hotbar button{
    width: 231px;
    height: 68px;
    background-color: white;  
    color: black; 
}

header .block .hotbar a{
    font-family: var(--main-font-family);
    font-size: 20px;
}

header .block .logo img{
    margin-left: 10px;
}

header .block .text button{
    width: 264px;
    height: 68px;
    margin-top: 20px;
}